extends layout

block content
  h1= title
  p Welcome to #{title}
  p Math.abs() applied to #{key}
  p Math.acos() applied to #{val}
  p Math.sin() applied to #{sol}
  p Math.sinh() applied to #{sol}

